body {
    color:#d9d9d9;
    margin:0;
    background-color: #777;
    padding-bottom:180px;/* height of fixed footer_wrap */
    font-family:sans-serif;
}

.dynamic { /* queried text */
    color:#fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4 {
    color:#fff;
    text-transform:uppercase;
    font-family: sans-serif;
}

a {
    color:#ea7d12;
}
a:hover {
    color:#111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color:#fff;
    background-color: #111;
}

p {
    color: #c4c4c4;
    font-family:sans-serif;
}

body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#333;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #c60;
  outline: 1px solid #c40;
}
/* login form styles */
.logform {
    float:right;
    height:42px;
    margin-top:-4px;
    padding:0 20px;
}

.logform input[type=text] {
    width:150px;
    padding:2px 20px;
    margin:2px 0;
    border:2px solid #ea7d12;
    border-radius:4px;
}
.logform input[type=password] {
    width:150px;
    padding:2px 20px;
    margin:2px 0;
    border:2px solid #ea7d12;
    border-radius:4px;
}

.logform input[type=submit] {
    color:white;
    background-color:#ea7d12;
    width:100px;
    padding:2px 20px;
    margin:10px 0;
    border:2px solid #ea7d12;
    border-radius: 4px;
    cursor: pointer;
}

.logform input:focus {
    background-color: #fff4ea;
    outline:none;
}

.logform input[type=submit]:hover {
    background-color: #ff942c;
}
/* END login form styles */

input[type=text], select {
    width:100%;
    padding:10px 20px;
    margin:2px 0;
    display:inline-block;
    border:2px solid #ea7d12;
    border-radius:4px;
}
input[type=password] {
    width:100%;
    padding:10px 20px;
    margin:2px 0;
    display:inline-block;
    border:2px solid #ea7d12;
    border-radius:4px;
}

input[type=number] {
    width:100%;
    padding:10px 20px;
    margin:2px 0;
    display:inline-block;
    border:2px solid #ea7d12;
    border-radius:4px;
}

input[type=text-field] {
    width:100%;
    padding:10px 20px;
    margin:2px 0;
    border:2px solid #ea7d12;
    border-radius:4px;
}

select:focus {
    background-color: #fff4ea;
    outline:none;
}
option:focus {
    background-color: #fff4ea;
    outline:none;
}

option:checked, option:hover {
    color: white;
    background: #ea7d12;
}

input[type=submit] {
    color:white;
    background-color:#ea7d12;
    width:100%;
    padding:10px 20px;
    margin:10px 0;
    border:2px solid #ea7d12;
    border-radius: 4px;
    cursor: pointer;
}

input:focus {
    background-color: #fff4ea;
    outline:none;
}

input[type=submit]:hover {
    background-color: #ff942c;
}

select {
    text-align: center;
}

#clear {
    clear: both;
}

#banner_wrap {
    margin:0 auto;
    width:100%;
    height:190px;
    background-color:#333;
}


#login_bar {
    height:35px;
    background-color:#171717; 
}

#banner {
    color: #fff;
    margin: 0 auto;
    height:83px;
    width:1000px;
    text-align: center;
}

#nav_wrap {
    width: 100%;
    background-color: #ea7d12;
}

#nav {
    margin:0 auto;
    width:800px;
}

#main_wrap {
    width:100%;
}

#page {
    margin:0 auto;
    width:800px;
}

.single {
    padding:20px 0;
    width: 100%;
}

#footer_wrap {
    width:100%;
    height:150px;
    background-color: #444;
    border-top:3px solid #ea7d12;
    position:fixed;
    bottom:0px;
}

#footer {
    color:#fff;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

/*User profile styles*/
#acc_details {
    padding:5px;
    float:left;
    width:15%;
}
.acc_detail {
    padding:6px 0;
}

.right {
    float:right;
}

#name_address {

}

.service_desc_text {
    width:60%;
    padding: 0 0 50px 0;
}

.list-item {
    width: 97%;
    background-color: #444;
    padding:10px;
    margin:15px 0;
    border:2px solid #c60;
    border-radius:4px;
    overflow:hidden;
}

.list-item:hover {
    background-color: #555;
}

button {
    color:#fff;
    background-color: #ea7d12;
    border:1px solid #d06700;
    border-radius:4px;
    margin:10px 3px;
    padding:8px 12px;
}
button:hover {
    background-color: #ff9a37;
    border-radius:4px;
    cursor:pointer;
}

.button {
    color:#fff;
    text-decoration: none;
    background-color:#ea7d12;
    border: 1px solid #c60;
    border-radius:4px;
    padding:5px;
    margin:20px 5px 5px 5px;;
}

.button:hover {
    background-color:#ffaf60;
    text-decoration: none;
}